schemas/wkbe-ml-project.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://marklogic.com/ns/orion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="project">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="workspace"/>
        <xs:element type="xs:string" name="database"/>
        <xs:element type="xs:string" name="content-location"/>
        <xs:element type="xs:string" name="creator"/>
        <xs:element type="xs:dateTime" name="created"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>